# =====================
# Python & general
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
*.log

# =====================
# VSCode & IDE
# =====================
.vscode/
.idea/
*.swp

# =====================
# Data & Datasets
# =====================
checkpoints
dataset
# =====================
# YOLO Training Logs
# =====================
runs/
models/training_logs/*
!models/training_logs/metrics_history.json  # Giữ lịch sử metrics

# =====================
# YOLO Models
# =====================
data_unpush

# =====================
# Cache & Temporary
# =====================
wandb/
.cache/
tmp/
