# =====================
# Python & general
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
*.log

# =====================
# VSCode & IDE
# =====================
.vscode/
.idea/
*.swp

# =====================
# Data & Datasets
# =====================
data/*
!data/data.yaml        # Giữ file cấu hình YOLO dataset
!data/last_commit.txt  # Giữ commit hash để check update

# =====================
# YOLO Training Logs
# =====================
runs/
models/training_logs/*
!models/training_logs/metrics_history.json  # Giữ lịch sử metrics

# =====================
# YOLO Models
# =====================
models/*.pt
!models/best.pt        # Giữ best model để deploy

# =====================
# Cache & Temporary
# =====================
wandb/
.cache/
tmp/
