# Ignore dataset images
Data/
!Data/xray.v1-v1.yolov11/data.yaml  # Chỉ giữ file cấu hình

# Ignore checkpoints (chỉ giữ best.pt để deploy)
checkpoints/
!api/best.pt

# Ignore outputs and cache
outputs/
__pycache__/
*.log
*.tmp

# Ignore large media
*.jpg
*.jpeg
*.png
*.mp4

# Virtual environments
venv/
.env/
